html {
    scroll-behavior: smooth;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
.wrapper{
    width: 80%;
    margin: 0 auto;
    max-width: 1600px;
}
input, button, select{
    outline: none;
    -o-outline: none;
    cursor: pointer;
}
#app input:focus{
    border: 1px solid rgba(0, 87, 255, 0.4);
}
.now-page{
    color: rgb(146, 146, 146);
    font-size: 12px;
    padding-top: 20px;
}
.now-page span{
    color: #000;
    font-weight: 500;
    font-size: 12px;
}
.now-page p{
    font-size: 12px;
}
.wrapper > h2.h30{
    font-size: 30px;
    margin-left: 10px;
}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
header .fixed{
    position: fixed;
    width: 100%;
    background: #fff;
    /* top: 0; */
    z-index: 9;
}
.header-scroll{
    top: 0;
    box-shadow: 0px 8px 11px 2px rgba(60,64,67,.30), 2px 2px 7px 2px rgba(60,64,67,.15);
}

header .head-1 .wrapper, header .head-2, header .head-3{
    display: flex;
    justify-content: space-between;
}
header .head-3{
    position: relative;
}
/* ------------------------------------------------------------ */
header .head-1{
    background: #FCFCFC;
    color: #BABABA;
    font-size: 10px;
}
header .head-1-block2{
    margin-top: 10px;
}
header .head-1-block2 a{
    color: #BABABA;
    text-decoration: none;
}
header .head-1-block2 span.exit{
    margin-left: 10px;
    padding-left: 10px;
    background: inherit;
    border: none;
    border-left: 0.5px solid #BABABA;    
    color: #BABABA;
    font-size: 10px;
}
/* ----------------------------------------------------------------- */
header .head-2 small{
    color: #B9B9B9;
    font-weight: 300;
    font-size: 10px;
}
header .head-2 strong{
    font-size: 16px;
    line-height: 20px;
}
header .head-2 div > img{
    width: 100%;
    height: 100%;
    max-height: 48px;
}
header .head-2 form{
    margin-top: 20px;
    width: 50%;
    position: relative;
    /* margin-left: 20px; */
}
header .head-2 form .fa-search{
    background: #fff;
    border: none;
    position: absolute;
    left: 10px;
    top: 13px;
}
header .head-2 input{
    border: 1px solid #B9B9B9;;
    border-right: none;
    font-size: 15px;
    padding: 10px 10px 10px 30px;
    box-sizing: border-box;
    border-radius: 5px 0 0 5px;
    width: 80%;
}
header .head-2 form .btn{
    background: #0057FF;
    border-radius: 0px 3px 3px 0px;
    border: 1px solid #0057FF;
    padding: 10px;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    width: 20%;
    color: #FFFFFF;
}
.head-2 .block1, .head-2 .block2{
    margin-top: 20px;
}
/* -------------------------------------------------*/
header .head-3 ul{
    padding: 0;
}
.head-3 .head-3-block1 ul, .head-3 .head-3-b ul{
    display: flex;
    margin-bottom: 0;
}
.head-3 .head-3-block1 ul li{
    list-style: none;
    margin-right: 3%;
    padding: 10px 0;
    font-weight: 600;
    cursor: pointer;
    transition: all .5s;
}
.head-3 .head-3-block1 ul li:hover{
    border-bottom: 2px solid #0057FF;
}
.head-3 .head-3-block1 li.blue{
    background: #0057FF;
    color: #fff;
    display: flex;
    padding: 10px 20px;
    margin-right: 40px;
    position: relative;
}
.head-3 .head-3-block1 .blue p{
    margin: 0 20px 0 15px;
    text-decoration: underline;
}
.head-3 .head-3-block1 .blue i{
    margin-top: 3px;
    font-size: 16px;
}
.head-3 .head-3-b{
    margin-top: 6px;
    font-weight: 600;
    cursor: pointer;
}
.head-3 .head-3-b ul li{
    margin-top: 4px;
    list-style: none;
}
.head-3-b ul > li:first-child{
    padding: 0;
    margin-right: 15px;
    padding-right: 15px;
    border-right: 0.5px solid #BABABA;
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.main-body{
    margin-top: 113px;
}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.banner{
    width: 100%;
    width: 100%;
    position: relative;
}
.banner-content, .banner .banner-slide{
    /* padding: 3% 0; */
    display: flex;
    height: 400px;
}
.VueCarousel{
    width: 100%;
    height: 100%;
}
.mini-banner{
    background: rgba(255, 163, 163, 0.99);
    margin: 3% 0;
    height: 200px;
}
.mini-banner .wrapper, .banner .wrapper{
    width: 90%;
    display: flex;
}
.mini-banner .wrapper button, .banner .wrapper button{
    background: none;
    border: none;
}
.mini-banner .VueCarousel-wrapper{
    height: 100%;
}
.mini-banner .VueCarousel-inner{
    height: 100% !important;
}
.mini-banner .mini-banner-content, .banner .banner-content{
    width: 70%;
    margin: 0 auto;
    padding: 3% 0;
    display: flex;
    justify-content: space-between;
    color: #fff;
}
.banner .banner-content img{
    max-width: 500px;
}
#app .banner .VueCarousel-navigation-prev{
    left: 60px;
}
#app .banner .VueCarousel-navigation-next{
    right: 60px;
}
#app .banner .VueCarousel-navigation-prev, #app .banner .VueCarousel-navigation-next{
    top: 48%;
    font-size: 36px;
    color: #fff;
    outline: none;
}
#app .mini-banner .VueCarousel-navigation-prev{
    left: 60px;
}
#app .mini-banner .VueCarousel-navigation-next{
    right: 60px;
}
#app .mini-banner .VueCarousel-navigation-prev, #app .mini-banner .VueCarousel-navigation-next{
    top: 48%;
    font-size: 36px;
    /* left: auto; */
    outline: none;
    color: #fff;
}
.banner .banner-content > div:first-child{
    max-width: 50%;
}
.mini-banner .mini-banner-content h2, .banner .banner-content h2{
    font-size: 38px;
    margin-bottom: 0;
}
.mini-banner .mini-banner-content p{
    font-size: 20px;
    margin-top: 5px;
}
.banner .banner-content p{
    font-size: 34px;
    margin-top: 0;
}
.banner .banner-content button{
    padding: 15px 50px;
    border: none;
    font-size: 17px;
    background: linear-gradient(90deg, #667EEA 0%, #64B6FF 100%);
    color: #fff;
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.trust{
    background: linear-gradient(0deg, #FCFCFC, #FCFCFC), #FCFCFC;
    padding:  30px 0;
}
.trust .border {
    background: rgba(0, 0, 0, 0.15);
    width: 80%;
    margin: 0 auto;
}
.trust .grid {
    --auto-grid-min-size: 300px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: 1rem;
    grid-gap: 1px;
}
.quality .grid {
    grid-template-columns: repeat(4, 25%);
}
.trust .grid > div {
    background: linear-gradient(0deg, #FCFCFC, #FCFCFC), #FCFCFC;
    /* padding: 10px; */
    text-align: center;

}
.trust-text{
    color: #000000;
    opacity: 0.49;
    margin: 20px 0 0;
}

/* ++++++++++++++++++++++++++++++++++++ */
.home-products-title{
    display: flex;justify-content: space-between;
    align-items: baseline;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.2); */
    /* margin-bottom: 30px; */
}
.prod-hr{
    background: rgba(0, 0, 0, 0.2);
    height: 1px;
    margin: 5px -1% 30px -1%;
}
.home-products-title h2{
    font-size: 30px;
    margin-bottom: 0;
    font-weight: bold;
}
.prevNextBtn{
    padding-right: 2%;
    padding-bottom: 4px;
}
.prevNextBtn button{
    background: inherit;
    border: none;
}
#app .home-products .VueCarousel-navigation-prev, #app .home-products .VueCarousel-navigation-next{
    top: -50px;
    font-size: 14px;
    outline: none;
    left: auto;
    right: 2%;
}
.carousel-area{
    height: 100%;
}
.home-products-block{
    position: relative;
    width: 90%; 
    margin: auto;
    /* padding: 15px; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.home-products-description{
    padding: 0 15px 15px 15px;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.carousel-img{
    text-align: center;
    padding: 15px 15px 0 15px;
    height: 40%;
    position: relative;
    height: 164px;

}
.carousel-img img{
    max-width: 164px;
    max-height: 164px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
}
.home-products-block:hover{
    background: #FFFFFF;
    /* box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);                                             не удалять*/                    
    box-shadow: 0px 0px 20px 13px rgba(0, 0, 0, 0.05);
}
.products-favorite{
    position: absolute;
    top: 0;
    background: #0057FF;
    right: 15px;
    padding: 10px;
    border-radius: 50% 50%;
    cursor: pointer;
}
.products-favorite i{
    color: #fff;
}
.products-status{
    position: absolute;
    top: 5px;
    left: 15px;
    font-size: 12px;
    color: #fff;
    background: #A91414;
    padding: 2px 5px;
    z-index: 3;
}
.home-products-block p{
    font-weight: bolder;
}
.home-products-block .price{
    margin-top: 15px;
}
.home-products-block .price small{
    color: #0057FF;
}
.home-products-block .price p{
    margin: 0;
    font-size: 20px;
    font-weight: bolder;
}
.home-products-description button{
    width: 100%;
    border: none;
    padding: 14px 0;
    margin: 15px 0;
    color: #fff;
    background: #000000;
    transition: all .5s;
    border-radius: 4px;
}
.home-products-block:hover .home-products-description button{
    background: #0057FF;
    text-decoration: underline;
}
.home-products-once{
    color: #2A98FF;
    text-align: center;
    font-weight: 500;
    font-size: 13px;
    text-decoration: underline;
    cursor: pointer;
}
.fixed-back{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(34, 38, 42, .4);
    z-index: 10;
    position: fixed;
}
.fixed-back > div:first-child{
    position: absolute;
    top: 115px;
    width: 433px;
    background: #fff;
    z-index: 99;
    left: 50%;
    transform: translateX(-50%);
}
.fixed-back .content{
    padding: 0 23px 20px;
}
.fixed-back .content h2, .fixed-back .content p{
    text-align: center;
}
.once-click-content h2{
    font-size: 22px;
}
.fixed-back .content form{
    display: flex;
    flex-direction: column;
}
.fixed-back .content form label{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.44)
}
.fixed-back .content form input{
    padding: 11px 0 11px 15px;
    border: 1px solid rgb(190, 191, 192);
    margin-bottom: 10px;
}
.fixed-back .content form input[type="submit"]{
    background: #0057FF;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 10px;
    text-decoration: underline;
}
.closed{
    position: absolute;
    background: red;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: none;
}
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.fixed-back .content-img{
    text-align: center;
    margin-top: 20px;
}
.fixed-back .content input[type="password"]{
    background: #FAFAFB;
    border: none;
}
.fixed-back .content input[type="password"]:focus{
    border: none !important;
}
.fixed-back .content-flex{
    display: flex;
    justify-content: space-between;
}
.fixed-back .content-flex .forget{
    color: #2A98FF;
    text-decoration: underline;
    font-size: 14px;
    cursor: pointer;
}
.fixed-back .content-flex .memorize{
    color: #000;
    font-size: 14px;
}
.fixed-back .signin input[type="submit"]{
    background: #0057FF;
    color: #fff;
    text-decoration: underline;
    font-size: 14px;
}
.fixed-back .signin button{
    padding: 11px 0 11px 15px;
    color: #fff;
    background: #000;
    border: #000;
    border-radius: 4px;
    width: 100%;
}
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.fixed-back .content .policy{
    color: #2A98FF;
    text-decoration-line: underline;
    text-align: center;
    cursor: pointer;
}
.fixed-back .content p{
    width: 80%;
    color: rgba(0, 0, 0, 0.59);
    margin: 14px auto;
}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.header-basket-list{
    position: absolute;
    margin-top: 45px;
    right: 0;
    background: #fff;
    width: 300px;
    z-index: 9;
    box-shadow: 0px 8px 11px 2px rgba(60,64,67,.30), 2px 2px 7px 2px rgba(60,64,67,.15);
}
.basket-list-block{
    z-index: 9;
}
.header-basket-list i{
    position: absolute;
    right: 15%;
    font-size: 20px;
    color: #F1F3F4;
}
.header-basket-list .basket-list-flex{
    display: flex;
    padding: 0 15px;
    position: relative;
}
.header-basket-list .basket-list-flex > div:first-child{
    width: 60%;
}
.header-basket-list .basket-list-flex > div:last-child{
    width: 40%;
    text-align: right;
}
.basket-list-flex .bold{
    margin-bottom: 0;
    margin-top: 10px;
    font-weight: bold;
}
.basket-list-flex .basket-price{
    margin: 0;
}
.basket-list-content{
    max-height: 275px;
}
.basket-list-content button{
    width: 100%;
    background: #0057FF;
    border: none;
    padding: 10px 0;
    font-weight: 600;
    color: #fff;
}
.header-basket-list .basket-list-flex > div{
    /* position: relative; */
}
.header-basket-list .basket-list-flex .exit{
    background: rgb(255, 233, 235);
    margin-top: 20px;
    height: 22px;
    width: 22px;
    border-radius: 50% 50%;
    text-align: center;
    cursor: pointer;
    right: 15px;
    position: absolute;
    color: #FF4252;
}
.basket-count-null{
    text-align: center;
    margin-top: 40px;
    font-size: 16px;
    font-weight: bold;
}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.head-3-block1 li.blue:hover .menu-list{
    display: block;
    transition: all 1s;
}
.head-3-block1 li.blueActive:hover .menu-list{
    display: none;
    transition: all 1s;
}
.menu-list{
    transition: all 1s;
    display: none;
    position: absolute;
    background: #fff;
    color: #000000;
    left: 0;
    top: 40px;
    width: 100%;
    box-shadow: 0px 8px 11px 2px rgba(60,64,67,.30), 2px 2px 7px 2px rgba(60,64,67,.15);
    z-index: 2;
}
.menu-list > nav > ul{
    display: flex;
    flex-direction: column;
}
.menu-list .submenu-list{
    border-bottom: 1px solid #F1F3F4;
}
.head-3 .head-3-block1 ul .submenu-list{
    margin: 0;
    padding: 0;
}
.menu-list .submenu-list:hover p{
    border-bottom: 1px solid #F1F3F4;
    background: #0057FF;
    color: #fff;
}
.head-3 .head-3-block1 .menu-list p{
    margin: 0;
    padding: 10px;
    text-decoration: none;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.menu-list .submenu-list ul{
    display: flex;
    position: absolute;
    top: 0;
    min-width: 300px;
    background: #fff;
    border-top: 1px solid rgba(0, 0, 0, .1);
    left: 100%;
    flex-wrap: wrap;
    margin-right: 20px;
    padding-left: 40px;
    max-height: 100%;
    height: 100%;
    box-shadow: 1px 10px 11px 2px rgba(60,64,67,.01), 2px 6px 7px 2px rgba(60,64,67,.01);
    flex-direction: column;
}
.menu-list .submenu-list ul li{
    /* width: 30%; */
}
.menu-list .submenu-list:hover ul{
    z-index: 8;
}
.grandmenu-list{
    display: none;
}
.submenu-list:hover .grandmenu-list{
    display: block;
}



















/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
footer{
    border-top: 1px solid #F6F7F8;
    padding: 40px 0 10%;
    color: #22262A;
}
footer .foot-1, footer .foot-2, footer .foot-3{
    display: flex;
}
footer .foot-1, footer, .foot-2{
    justify-content: space-between;
}
footer .foot-1 > div, footer .foot-2 > div{
    width: 25%;
}
footer .foot-1 > div{
    font-weight: 600;
    font-size: 18px;
}
footer .hr{
    width: 70%;
    background: #F6F7F8;
    height: 2px;
    margin: 3% auto;
}
footer .foot-3 > div{
    width: 20%;
}
footer .foot-3 > div > div{
    cursor: pointer;
}
footer > .hr{
    width: 100%;
    margin-top: 5%;
}
footer .foot-4{
    color: #C1C8CE;
    display: flex;
    justify-content: space-between;
}
footer .foot-4 img{
    margin-left: 20px;
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.delivery h2{
    font-size: 30px;
    margin-bottom: 10px;
}
.delivery > img, .about > img{
    width: 100%;
}
.about p{
    color: #262626;
}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.contacts address{
    font-size: 20px;
}
.contact-content small{
    font-size: 15px;
}
.contact-content p{
    font-size: 17px;
    margin: 0;
}
.contacts .contact-content{
    margin-bottom: 20px;
}
.contact-content, .wrapper .about, .profile-content{
    margin-left: 10px;
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.profile-content input{
    /* width: 0px; */
}
.profile-content input::placeholder{
    color: #000;
}
.profile-content input, .profile-content button, .profile input[type="submit"]{
    padding: 12px 15px;
}
.profile-content input{
    border: 1px solid rgb(207, 207, 207);
    width: 270px;
    border-radius: 5px;    
    margin-right: -5px;
    z-index: 2;
    font-size: 14px;
}
.profile input[type="submit"]{
    width: 150px;
    padding-bottom: 25px;
}
.profile-content button, .profile input[type="submit"]{
    background: #0057FF;
    border: 1px #0057FF;
    color: #fff;
    border-radius: 5px;
}
.profile-content button:not(.add){
    z-index: 1;
}
.profile-content .bold{
    font-size: 18px;
    font-weight: bolder;
}
.profile-content label{
    color: rgba(0, 0, 0, 0.44);
}
.profile-content .profile-content-flex{
    display: flex;
    margin-bottom: 15px;
}
.profile-content-flex .delete{
    margin-left: -25px;
    margin-top: 10px;
    z-index: 2;
    text-align: center;
    border-radius: 50% 50%;
    height: 20px;
    width: 20px;
    background: rgb(250, 217, 220);
    color: #FF4252;
    cursor: pointer;
}
.profile-content .add{
    padding: 12px 30px;
    text-decoration: underline;
}
.profile-content input[type="email"], .profile-content input[type="number"]{
    background: #FAFAFB;
    border: 1px solid #FAFAFB;
}
.profile-content form{
    width: 410px;
}
.profile-content form > input{
    width: 95%;
    padding: 12px 0 12px 5%;
}
.profile-content form .new-address-flex{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0 15px 0;
}
.profile-content .new-address-flex input{
    padding: 12px 0 12px 5%;
    margin-right: 0;
    width: 43%;
    background: #FAFAFB;
    border: 1px solid #FAFAFB;
}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.product-content{
    display: flex;
    justify-content: space-between;
}
.product-content-block1{
    width: 48%;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.product-content > .product-block1-images{
    width: 30%;
    text-align: center;
}
.product-content .product-block1-img{
    position: relative;
    border: 1px solid #E5E8EA;
    width: 70%;
    text-align: center;
    max-height: 480px;
    min-height: 300px;
}
.product-content .product-content-block2{
    width: 50%;
}
.product-content-block1 .product-block1-images > div{
    border: 2px solid #E5E8EA;
    width: 67px;
    height: 67px;
    text-align: center;
    margin-bottom: 15px;
    position: relative;
    cursor: pointer;
}
.product-content-block1 .product-block1-images img{
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.product-content-block1 .product-block1-img img{
    max-width: 94%;
    max-height: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.product-content-block2 h2{
    font-size: 24px;
}
.product-content-block2-flex{
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
}
.product-content-block2 .product-block3-count{
    width: 120px;
    background: #F6F7F8;
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
}
.product-content-block2 .product-block2-count button{
    color: #0057FF;
    background: inherit;
    border: none;
    margin: 0 10px;
    font-size: 16px;
}
.product-block2-price{
    display: flex;
    align-items: center;
}
.product-content-block2 .product-block2-price p{
    margin: 0;
    font-weight: 600;
    font-size: 20px;
    margin-left: 5px;
}
.product-content-block2 .product-favorite{
    background: #0057FF;
    color: #fff;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    height: 38px;
    text-align: center;
    width: 45px;
    line-height: 41px;
}
.product-block2-flex-block2, .product-block2-flex-block1{
    display: flex;
}
.product-block2-flex-block1{
    align-items: center;
}
.product-block2-flex-block2, .product-block2-flex-block1{
    width: 49%;
}
.product-content-block2 .product-block2-flex-block2 > button{
    background: #000;
    border: #000;
    color: #fff;
    width: 248px;
    border-radius: 5px;
    height: 38px;
}
.product-content-block2 .product-block2-flex-block2 > button:hover{
    background: #0057FF;
    text-decoration: underline;
    border: #0057FF;
}
.product-content-block2 hr{
    border: 2px solid #F6F7F8;
    margin: 0;
}
.product-content-block2 .product-about{
    display: flex;
    padding-left: 20px;
    margin-top: 15px;
    margin-left: 0;
}
.product-content-block2 .product-about td, .product-content-block2 .product-about th{
    min-width: 2em;
    padding: .4em;
    border: 1px solid #d9d9d9;
}
.product-content-block2 .product-about > p{
    margin-bottom: -1px;
    cursor: pointer;
    padding: 0 10px 15px 10px;
    font-size: 16px;
    font-weight: bold;
    margin-left: 0;
}
.product-content-block2 .product-about > p:first-child{
    margin-right: 40px;
}
.product-content-block2 .product-about > p:last-child{
    margin-left: 40px;
}
.product-content-block2 .product-about .about{
    color: #0057FF;
    border-bottom: 2px solid #0057FF;
    margin-bottom: -3px;
}
.product-content-block2 .product-about h3{
    font-size: 20px;
    margin-top: 0;
}
.product-content-block2 .product-about .onceClick-block{
    display: flex;
    justify-content: space-between;
}
.product-content-block2 .onceClick-block small, .product-content-block2 .onceClick-block p, .product-content-block2 .onceClick-block button{
    width: 45%;
}
.product-content-block2 .onceClick-block input[type="text"]{
    padding: 10px;
    width: calc(45% - 20px);
    margin: 5px 0 10px;
    border: 2px solid #F1F3F4;
    border-radius: 5px;
}

.product-content-block2 .onceClick small,
.product-content-block2 .onceClick p{
    color: rgba(0, 0, 0, .44);
}
.product-content-block2 .onceClick-block p{
    border: 1px solid rgba(0, 0, 0, .24);
    padding: 7px 10px;
    width: calc(45% - 20px);
    border-radius: 5px;
    color: #000;
}
.product-content-block2 .onceClick-block button{
    color: #fff;
    background: #0057FF;
    border-radius: 4px;
    border: 3px solid #0057FF;
    height: 40px;
}
.product-content-block2 .onceClick-block input[type="checkbox"]{
    width: 15px;
    margin-top: 5px;
}


/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.favorite .favorite-content, .all .all-block2-grid{
    --auto-grid-min-size: 200px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: 30px;
    margin-top: 5%;
}
.favorite .favorite-content .home-products-block, .all-content .all-block2-grid .home-products-block{
    width: 100%;
}
.favorite .favorite-content .products-favorite, .all-content .all-block2-grid .products-favorite{
    top: 10px;
}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.all-content{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.all-content .all-block1{
    width: 24%;
}
.all-content .all-block2{
    width: 75%;
}
.all-menu nav ul{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
.all-menu nav ul li{
    list-style: none;
}
.all-menu h2{
    font-size: 23px;
    font-weight: bold;
}
.all .all-menu-nav{
    background: #FCFCFC;
    padding: 10px;
    margin-bottom: 20px;
}
.all .all-menu-nav h2{
    margin-top: 0;
}
.all-menu-nav .range-input > div{
    border: 1px solid rgba(112, 112, 112, 0.15);
    background: #fff;
    border-radius: 5px;
    text-align: center;
    padding: 10px 15px;
}
.range-input{
    display: flex;
    justify-content: space-around;
}
.range-input span{
    line-height: 40px;
}
.all-menu-nav .all-menu-btn{
    margin-top: 15px;
    text-align: center;
}
.all-menu-nav .all-menu-btn button{
    width: 90%;
    padding: 10px 0;
    background: #0057FF;
    border-radius: 4px;
    border: #0057FF;
    color: #fff;
    margin-bottom: 15px;
}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.cart-content{
    width: 95%;
    margin: 0 auto;
}
.cart-content-body, .cart-content-head{
    display: flex;
    justify-content: space-between;
}
.cart-content-body > div, .cart-content-head > div{
    width: 12%;
}
.cart-content-body > div:first-child, .cart-content-head > div:first-child{
    width: 50%;
}
.cart-content-head{
    font-weight: bold;
    font-size: 18px;
    border-bottom: 1px solid #F6F7F8;
}
.cart-content-body{
    padding: 5% 0 1%;
    font-size: 16px;
}
.cart-content-body > div:first-child{
    display: flex;
}
.cart-content-body > div:first-child > div{
    margin-right: 2%;
}
.cart-content-body > div:first-child > div:first-child{
    margin-right: 5%;
}
.cart-content-body > div:first-child  p{
    margin: 0;
    font-weight: bold;
    font-size: 16px;
}
.cart-content-body .cart-body-img{
    background: #FCFCFC;
    width: 130px;
    height: 130px;
    position: relative;
    margin-top: -30px;
}
.cart-content-body .cart-body-img img{
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    
}
.cart-content-body .exit{
    background: rgb(250, 208, 212);
    color: #FF4252;
    height: 20px;
    width: 20px;
    text-align: center;
    margin-top: 4%;
    border-radius: 50% 50%;
    cursor: pointer;
}
.cart-content-count{
    background: #F6F7F8;
    max-height: 36px;
    margin-top: 5px;
    text-align: center;
    padding-top: 10px;
}
.cart-content-count button{
    border: none;
    background: inherit;
    color: #33A0FF;
    margin: 0 15px;
    font-size: 16px;
}
.cart-content-body > div:last-child{
    display: none;
}
.cart-content .cart-price{
    text-align: right;
}
.cart-content .cart-price p{
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
}
.cart-content .cart-price button{
    font-size: 20px;
    padding: 10px;
    background: #0057FF;
    border: #0057FF;
    color: #fff;
    width: 320px;
    border-radius: 5px;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------- */
.footer-fixed{
    position: fixed;
    width: 100%;
    max-width: 100%;
    bottom: 0px;
    right: 0;
    left: 0;
    display: none;
    box-shadow: 0px 8px 11px 2px rgba(60,64,67,.30), 2px 2px 7px 2px rgba(60,64,67,.15);
    opacity: 1;
    z-index: 3;
    background: #fff;
}
.footer-fixed nav ul{
    display: flex;
    padding: 0;
    font-size: 16px;
}
.footer-fixed nav ul li{
    list-style: none;
    text-align: center;
    width: 25%;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.toggle{
	position: absolute;
	right: 15px;
	top: 13px;
	width: 30px;
    height: 30px;
	transition: all 1s;
	visibility: hidden;
	opacity: 0;
    cursor: pointer;
    z-index: 99;
}
.span{
	z-index: 1;
	height: 3px;
	background: #515C6F;
	visibility: hidden;
    margin: 4px auto;
    transition: all 1s;
}
.one{
	transform: rotate(45deg) translateX(4px) translateY(5px);
}
.two{
	opacity: 0 !important;
}
.three{
	transform: rotate(-45deg) translateX(4px) translateY(-6px);
}
/* --------------------------------------------------------------------------------------------------------------------------------------------------- */
.media-menu{
    display: none;
    border-top: 1px solid rgba(81, 92, 111, .2);
    position: absolute;
    height: calc(100vh - 46px);
    width: 0;
    height: 0;
    z-index: 5;
    background: #FCFCFC;
    transition: all 1s ease-in;
    opacity: 0;
    visibility: hidden;
}
.mediActive{
    display: block;
    transition: all 1s ease-in;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
}
.media-menu li{
    list-style: none;
    line-height: 26px;
    font-weight: 600;
}
.media-menu ul{
    padding-left: 5%;
}
.header-close{
    position: fixed;
    z-index: 4;
    width: 100%;
    height: 100%;
    top: 0;

}
.enterSetting{
    display: none;
}
.enter{
    display: none;
    position: fixed;
    background: #FCFCFC;
    top: 47px;
    height: 100%;
    z-index: 3;
    left: 0;
    width: 90%;
    padding: 0 5% 0;
    overflow-y: scroll;
}
.enter-content{
    width: 80%;
    margin: 30% auto 0;
    text-align: center;
    overflow-y: scroll;
}
.enter-content button{
    width: 50%;
    background: #0057FF;
    border: 1px #0057FF;
    color: #fff;
    border-radius: 5px;
    padding: 10px 0;
}
.enter .fixed-back > div:first-child{
    top: 47px;
    overflow: scroll;
}
.enter .fixed-back{
    overflow-y: scroll;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------------- */
.thanks-content{
    max-width: 37%;
    margin: 5% auto;
    text-align: center;
}
.thanks-content button{
    background: #0057FF;
    font-size: 20px;
    color: #fff;
    border: none;
    width: 60%;
    max-width: 270px;
    height: 40px;
    border-radius: 5px;
    margin-top: 10px;
    min-width: 140px;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------- */
.registration-content, .registration-content2{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: #22262A;
}
.registration-content > div:first-child{
    width: 65%;
}
.registration-content > div:last-child{
    width: 30%;
}
.registration-select{
    display: flex;
    justify-content: space-between;
}
.registration p{
    font-size: 18px;
    font-weight: bold;
}
.custom-select{
    position: relative;
    border: 2px solid #F1F3F4;
    width: 270px;
    font-size: 14px;
    padding: 10px;
}
.custom-select i{
    position: absolute;
    right: 10px;
    top: 13px;
}
.custom-select span{
    display: block;
}
.dateSelect span{
    position: absolute;
    z-index: 2;
    width: 50%;
    background: #fff;
}
.registration .address span{
    display: block;
}
.registration .address > div > div{
    padding: 10px;
    border-bottom: 2px solid #F1F3F4;
    position: relative;
}
.registration .address > div{
    border-left: 2px solid #F1F3F4;
    border-right: 2px solid #F1F3F4;
}
.registration .address > div:first-child{
    padding: 10px;
    border: 2px solid #F1F3F4;
    border-top: 2px solid #F1F3F4;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.registration .address > div:last-child{
    /* border-bottom: 2px solid #F1F3F4;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; */
    background: red;
}
.registration .address{
    position: relative;
    width: 290px;
}
.registration .address i{
    position: absolute;
    top: 13px;
    right: 10px;
}
.selectAddress > div:hover{
    background: #FAFAFB;
}

.registration .pay{
    padding: 10px;
    border: 2px solid #F1F3F4;
    margin-bottom: 10px;
    position: relative;
}
.registration .pay:hover{
    background: #FAFAFB;
    border:  2px solid #FAFAFB;
}
.pay input{
    opacity: 0;
}
.registration .h30{
    font-size: 30px;
}
.registration .registration-content2 input{
    padding: 10px;
    border-radius: 3px;
    border: 2px solid #E5E5E5;
}
.registration .registration-content2 .max-input{
    width: 350px;
    margin-bottom: 10px;
}
.registration .registration-content2 .mini-input{
    margin-right: 10px;
}
.registration .registration-content2 button{
    background: #0057FF;
    border-radius: 3px;
    color: #fff;
    border: none;
    width: 100%;
    height: 50px;
    font-size: 20px;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------ */
.filteredProduct{
    float: right;
    margin-top: 20px;
    background: #0057FF;
    padding: 10px;
    border: none;
    color: #fff;
    display: none;
}